.u__center__text {text-align: center;}
.u__margin__big {margin-bottom: 8rem;}
.u__margin__small {margin-bottom: 2rem;}
.u__margin__medium {margin-bottom: 4rem;}
.u__margin__top__big {margin-top: 8rem;}
.u__margin__top__huge {margin-top: 10rem;}