.u__center__text {text-align: center !important;}
.u__margin__big {margin-bottom: 8rem !important;}
.u__margin__small {margin-bottom: 2rem !important;}
.u__margin__medium {margin-bottom: 4rem !important;}
.u__margin__top__big {margin-top: 8rem !important;}
.u__margin__top__huge {margin-top: 10rem !important;}